body {
    margin:0px;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    background-color: #0E0B2C;
}

/* --------- Background Circles --------- */
.circle-blue{
    position: absolute;
    width: 726px;
    height: 726px;
    right: 1089px;
    top: -374px;
    background: rgba(6, 31, 255, 0.97);
    filter: blur(302px);
    z-index:-1;
}

.circle-red{
    position: absolute;
    width: 726px;
    height: 726px;
    left: 1089px;
    top: 589px;
    background: rgba(255, 6, 66, 0.7);
    filter: blur(302px);
    z-index:-1;
}

/* --------- Links Style --------- */

a {
    all: unset;
    color:white;
    transition:.5s;
}

a:hover{
    cursor:pointer;
    color:red;
    font-size:large;
    transition:.5s;
}

/* --------- Header & Navbar --------- */

header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:1%;
    z-index:2;
}

header #title {
    font-family:'Poppins',sans-serif;
    font-size:50px;
    font-weight:bold;
    color:white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header #navbar{
    display:flex;
    justify-content:space-evenly;
    gap:25%;
    color:white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* --------- Main Section --------- */

main{
    margin-top:5%;
    z-index:2;
}
    /* --------- About --------- */

#principal-about{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

#principal-about #about{
    display:flex;
    flex-direction: column;
}

    /* --------- Title & Subtitle --------- */

.subtitle{
    font-size:small;
    letter-spacing:3px;
    font-weight:bold;
}

.title{
    font-size:65px;
    font-weight:bolder;
}
.title red{
    color:red;
}

.title blue{
    color:blue;
}
    /* --------- Title & Subtitle End --------- */

    /* --------- Photo Start --------- */

#pedroPascal{
    max-height:500px;
    border-radius:50px;
        /* --------- Border --------- */
    border: double .5rem transparent;
    background-image:radial-gradient(circle at top left,blue,red);
    background-origin:border-box;
    background-clip:border-box;
    transition:1.5s;
}

#pedroPascal:hover{
    max-height:550px;
    transition:1s;
}
    /* --------- Photo End --------- */

/* --------- Main Section End --------- */

/* ------------------ About Me ------------------ */

.wip{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.wip .title{
    color:white;
}

.wip #cat-pc{
    align-items:center;
}


/* ------------------ About Me End ------------------ */

/* --------- Media Queries --------- */

/* --------- Landscape phones and down --------- */

@media (max-width: 480px) {
    *{
        max-width:480px;
    } 
    header #title{
        font-size:40px;
    }

    header #navbar{
        display:none;
    }

    #principal-about{
        flex-direction:column;
    }

    .title{
        font-size:30px;
        text-align:center;
    }
    .subtitle{
        text-align:center;
        font-size:10px;
    }

    #photo{
        padding-top:10%;
    }
    #photo #pedroPascal{
        max-width:300px;
    }

    .circle-blue{
        position: absolute;
        width: 726px;
        height: 726px;
        right:100%;
        top:-30%;
        background: rgba(6, 31, 255, 0.97);
        filter: blur(302px);
        z-index:-1;
    }
    
    .circle-red{
        position: absolute;
        width: 726px;
        height: 726px;
        left:-40%;
        top:10%;
        background: rgba(255, 6, 66, 0.7);
        filter: blur(302px);
        z-index:-1;
    }
 }

/* --------- Landscape phone to portrait tablet --------- */

 @media (min-width:481px) and (max-width:768px){
    *{
        max-width:768px;
    }
    header{
        flex-direction:column;
        gap:5%;
    }

    #principal-about{
        flex-direction:column;
    }

    .title{
        font-size:45px;
        text-align:center;
    }
    .subtitle{
        text-align:center;
        font-size:15px;
    }

    #photo{
        padding-top:10%;
    }
    #photo #pedroPascal{
        max-width:300px;
    }
    .circle-blue{
        position: absolute;
        width: 726px;
        height: 726px;
        right:50%;
        top:-60%;
        background: rgba(6, 31, 255, 0.97);
        filter: blur(302px);
        z-index:-1;
    }
    
    .circle-red{
        position: absolute;
        width: 600px;
        height: 600px;
        left:20%;
        top:40%;
        background: rgba(255, 6, 66, 0.7);
        filter: blur(302px);
        z-index:-1;
    }
 }

 /* --------- Portrait tablet to landscape and desktop --------- */
 @media (min-width: 769px) and (max-width: 979px) { 
    *{
        max-width:979px;
    }
    .title{
        font-size:35px;
    }

    .subtitle{
        font-size:10px;
    }

    #pedroPascal{
        max-width:300px;
    }
    .circle-blue{
        position: absolute;
        width: 726px;
        height: 726px;
        right:50%;
        top:-40%;
        background: rgba(6, 31, 255, 0.97);
        filter: blur(302px);
        z-index:-1;
    }
    
    .circle-red{
        position: absolute;
        width: 726px;
        height: 726px;
        left:15%;
        top:25%;
        background: rgba(255, 6, 66, 0.7);
        filter: blur(302px);
        z-index:-1;
    }
 }