* {
    margin:0px;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    background-color: #0E0B2C;
}

/* Links Style */

a {
    all: unset;
    color:white;
    transition:.5s;
}

a:hover{
    cursor:pointer;
    color:red;
    font-size:large;
    transition:.5s;
}

/* Header & Navbar */

header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:1%;
}

header #title {
    font-family:'Poppins',sans-serif;
    font-size:50px;
    font-weight:bold;
    color:white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header #navbar{
    display:flex;
    justify-content:space-evenly;
    gap:25%;
    color:white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Main Section */

main{
    margin-top:5%;
}
    /* About */

#principal-about{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

#principal-about #about{
    display:flex;
    flex-direction: column;
}

    /* Title & Subtitle */

.subtitle{
    font-size:small;
    letter-spacing:3px;
    font-weight:bold;
}

.title{
    font-size:65px;
    font-weight:bolder;
}
.title red{
    color:red;
}

.title blue{
    color:blue;
}
    /* Title & Subtitle End */

    /* Photo Start */

#pedroPascal{
    max-height:500px;
    border-radius:50px;
        /* Border */
    border: double .5rem transparent;
    background-image:radial-gradient(circle at top left,blue,red);
    background-origin:border-box;
    background-clip:border-box;
    transition:1.5s;
}

#pedroPascal:hover{
    max-height:550px;
    transition:1s;
}
    /* Photo End */

/* Main Section End */